*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic ;
    color: rgb(255, 255, 255);
}

body
{
  background-image: linear-gradient(to right, rgb(97, 59, 235), rgb(187, 206, 234));
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.title{
    font-size: 25px;
}

.city{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.degree-section:hover{
    cursor: pointer;
}

.degree{
    padding: 0 0.5rem;
}


img{
    width: 10rem;
}